---
export const prerender = false;
import "../../styles/wordpress.scss";
import "../../styles/global.scss";
import "../../styles/vars.scss";
import {getLanguageContents} from "@src/data/pubDataApi";
// import {ContentListing} from "@components/ResourceSingle/ContentListing";
import {ResourceWrapper} from "@components/ResourceSingle/ResourceWrapper";
const {language} = Astro.params;
console.log({language});
if (!language) return Astro.redirect("/404");
const startTime = performance.now();
const langContent = await getLanguageContents(language);
const {language: lang, contents} = langContent;
const endTime = performance.now();
const totalTime = endTime - startTime;

// todo: this should probably be a new astro server island so that waiting on the top/bottom of the page doesn't add any extra time to the graphql call, and I can just add it in to the existing static pages I think? As static the urls will be /resources (and all wpml variants) and /resources/[language] (getStaticPaths both)
// todo next: this is big enough now that I need to clean up the components and do the mobile versions too
---

<html dir={lang.direction}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="/src/pwa.ts"></script>
  </head>
  <body>
    <div class="site">
      <h2>
        Is gateway {lang.isGateway == true ? "true" : "false"}
      </h2>
      <p>time : {totalTime / 1000}</p>
      <p>dir : {lang.direction}</p>
      <!-- <header class="h-15vh bg-pink-100 w-full"></header> -->
      <section data-name="pubDataApi" class="contain">
        <div>
          <ResourceWrapper client:load language={lang} contents={contents} />
        </div>
      </section>
      <!-- <header class="h-45vh w-full"></header> -->
    </div>
  </body>
</html>

<!--
Scripture
Gloss - includes narratives, stories, etc.
Parascriptural - includes anything indexed by book, chapter, verse that is not Scripture, e.g. commentaries or syntactic notes.

Peripheral - any other resource related to Scripture
-->
