---
import type {languageType} from "@customTypes/types";
import {cachePageForDevSpeed, getDevCachedPages} from "@lib/caching";
import TranslationsPageOld from "@components/TranslationsPageOld/TranslationPageOld.astro";
import {getDict} from "@src/i18n/strings";
import {getAllPages, getMenus, getWpmlLanguages} from "@src/api/gql";
import Layout from "@layouts/Layout.astro";
import Blocks from "@components/Blocks.astro";
import {DOMParser} from "linkedom";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import {adjustCmsDomLinks} from "@src/utils";
// import {HeaderMenu} from "@components/HeaderMenu";
import {HeaderMenuOld} from "@components/HeaderMenuOld";
import {blocksAreEmpty} from "@lib/web";
import type {WpPage} from "@customTypes/types";

interface Props {
  page: WpPage;
  headerMenu: any;
  langInfo: languageType;
  pagesByLangCode: Record<string, Record<number, languageType>>;
  langSwitcherList: any;
  allPagesToPublish: any;
  inlineStyles: string[];
}

// style id=generateblocks-inline-css
// const res = await fetch("http://bible-in-every-language.local/headless/");
export async function getStaticPaths() {
  if (import.meta.env.DEV) {
    const forceRefresh = false;
    const pages = getDevCachedPages(forceRefresh);
    if (pages) return pages;
  }

  try {
    const {pagesByLangCode} = await getAllPages();

    const menus = await getMenus();

    const nonHiddenLanguages = new Set(Object.keys(menus));

    const wpmlLangDict = await getWpmlLanguages();

    // each key is a lang.  If it's not hidden, keep it, if not, toss the whole object;
    const nonHiddenPages = Object.keys(pagesByLangCode).reduce(
      (
        accumulator: Record<
          string,
          Record<string, Omit<WpPage, "translations">>
        >,
        currentLangCode
      ) => {
        const isNotHidden = nonHiddenLanguages.has(currentLangCode);
        if (isNotHidden) {
          // Record<string, Omit<WpPage, "translations">>
          const value = pagesByLangCode[currentLangCode];
          if (value) {
            accumulator[currentLangCode] = value;
          }
        }
        return accumulator;
      },
      {}
    );
    const {en, ...otherLanguages} = nonHiddenPages;
    if (!en) return []; //early bail to satisfy typescirpt. Should always have english;
    const promises = Object.keys(en).map(async (enPageId) => {
      const enPage = en[enPageId]!;
      const enSrcResponse = await fetch(enPage.link.replace("https", "http"));
      const pageRendered = await enSrcResponse.text();
      const dom = new DOMParser().parseFromString(pageRendered, "text/html");
      const inlineStyleIds = [
        "generateblocks-inline-css",
        "global-styles-inline-css",
        "generate-style-inline-css",
      ];
      // const inlineStyles: HTMLStyleElement | undefined = dom.querySelector(
      //   "#generateblocks-inline-css"
      // );
      const inlineStyles = inlineStyleIds.map((id) => {
        const styleTag: HTMLStyleElement | undefined = dom.querySelector(
          `#${id}`
        );
        if (styleTag) {
          return styleTag.innerHTML;
        } else return "";
      });
      enPage.inlineStyles = inlineStyles;
      return {pageId: enPageId, page: enPage};
    });
    const englishPagesArr = await Promise.all(promises);

    const englishPagesDict = englishPagesArr.reduce(
      (acc: Record<string, Omit<WpPage, "translations">>, current) => {
        const {pageId, page} = current;
        acc[pageId] = page;
        return acc;
      },
      {}
    );

    const otherLanguagesPagesList = Object.values(otherLanguages)
      .map((langDict) => {
        const nested = Object.values(langDict).map((translatedPage) => {
          // todo: some guards around the type here? or just say it won't be ? probably
          const correspondingEnglishPage =
            englishPagesDict[translatedPage.translationOfId];
          if (correspondingEnglishPage?.inlineStyles) {
            // mutate
            translatedPage.inlineStyles = correspondingEnglishPage.inlineStyles;
          }
          return {pageId: translatedPage.databaseId, page: translatedPage};
        });
        return nested;
      })
      .flat();

    const allPagesToPublish = [
      // Skeip the english home page
      ...englishPagesArr.filter((p) => p.page.uri !== "/"),
      ...otherLanguagesPagesList,
    ];

    const pagesData: any = allPagesToPublish.map((pageTuple) => {
      const {page} = pageTuple;

      const curLang = page.languageCode;
      const headerMenu =
        menus[curLang]?.["header-menu-old"] || menus.en?.["header-menu-old"]!;
      const langInfo = wpmlLangDict[curLang];

      const langSwitcherList = Object.values(wpmlLangDict)
        .filter((lang) => {
          return nonHiddenLanguages.has(lang.code);
        })
        .map((lang) => {
          // Don't mutate the original dict item
          const copy = {...lang};
          // Mutate the langMenu while in this loop. For each of these languages, find the equivalent given its lang code
          const matchingVersionId = page.otherVersions?.[copy.code] || "";
          if (matchingVersionId) {
            const matchingVersionPage = allPagesToPublish.find(
              ({page}) => String(page?.databaseId) == matchingVersionId
            );
            if (matchingVersionPage) {
              if (
                matchingVersionPage?.page?.uri == "/" &&
                matchingVersionPage?.page?.languageCode == "en"
              ) {
                copy.localizedUrl = "/";
              } else {
                copy.localizedUrl = matchingVersionPage?.page?.uri;
              }
            }
          }
          return copy;
        });
      console.log(`Generating slug of ${page.uri}`);
      let payload = {
        params: {
          slug: page.uri,
        },
        props: {
          page,
          headerMenu,
          langInfo,
          pagesByLangCode,
          langSwitcherList,
          allPagesToPublish,
          inlineStyles: page.inlineStyles,
        },
      };

      if (import.meta.env.DEV) {
        cachePageForDevSpeed(
          payload,
          `./src/dev/pages/${page.databaseId}.json`
        );
      }
      return payload;
    });

    return pagesData;
    // return [
    //   {
    //     params: {
    //       slug: "tools",
    //     },
    //     props: null,
    //   },
    // ];
  } catch (error) {
    console.error(error);
    return [];
  }
}
const {page, headerMenu, langInfo, langSwitcherList, inlineStyles} =
  Astro.props;
// Generate something for seo, even if not great
const description = page.editorBlocks
  .filter((b) => b.parentClientId == null)
  .map((block) => {
    return block.renderedHtml;
  })
  .join(" ")
  .slice(0, 100);
---

<Layout
  title={page.title}
  inlineCss={inlineStyles}
  langInfo={langInfo}
  langSwitcher={langSwitcherList}
  description={description}
>
  <div class="header">
    <LanguageSwitcher
      langInfo={langSwitcherList}
      currentLangCode={langInfo.code}
    />
    <HeaderMenuOld menu={headerMenu} langCode={langInfo.code} client:idle />
  </div>
  <main class={`${!page.isHomePage && "interior-page "} `}>
    {
      !page.isHomePage && (
        <h1
          class="text-center text-6xl mb-12 bg-[rgba(0,0,0,0.7)] bg-blend-overlay text-white py-20 bg-no-repeat bg-cover"
          style="background-image: url('/images/page_bg.jpg')"
        >
          {page.title}
        </h1>
      )
    }
    {
      !page.isTranslationPage && (
        <div
          class={`prose wp-blocks flow-root min-h-screen headless-insertion place-content-start ${
            !page.isHomePage && "site-container"
          }`}
        >
          {page.editorBlocks
            .filter((b) => b.parentClientId == null)
            .map((block) => {
              return <Blocks content={adjustCmsDomLinks(block.renderedHtml)} />;
            })}
          {blocksAreEmpty(page.editorBlocks) && (
            <h2 class="">{getDict(langInfo.code).notYetTranslated}</h2>
          )}
        </div>
      )
    }
    {
      page.isTranslationPage && (
        <TranslationsPageOld languageCode={langInfo.code} />
      )
    }
  </main>
</Layout>
