---
import type {languageType} from "@customTypes/types";
import {cachePageForDevSpeed, getDevCachedPages} from "@lib/caching";
import TranslationsPageOld from "@components/TranslationsPageOld/TranslationPageOld.astro";
import {getDict} from "@src/i18n/strings";
import {getAllPages, getGlobal, getMenus, getWpmlLanguages} from "@src/api/gql";
import Layout from "@layouts/Layout.astro";
import Blocks from "@components/Blocks.astro";
import {DOMParser} from "linkedom";
import {
  addOptionalSectionsToCmsPages,
  adjustCmsDomLinks,
  collectInlineStyles,
  getNonHiddenPages,
  getOtherLanguagesPagesList,
  determineShowGlobal,
} from "@src/utils";
// import {HeaderMenu} from "@components/HeaderMenu";
import {HeaderMenuOld} from "@components/HeaderMenuOld";
import {HeaderMenu} from "@components/HeaderMenu";
import {blocksAreEmpty} from "@lib/web";
import type {WpPage} from "@customTypes/types";

interface Props {
  page: WpPage;
  headerMenu: any;
  langInfo: languageType;
  contactSection: {
    content: string;
  } | null;
  ctaSection: {
    content: string;
  } | null;
  // pagesByLangCode: Record<string, Record<number, languageType>>;
  langSwitcherList: any;
  inlineStyles: string[];
}

// style id=generateblocks-inline-css
// const res = await fetch("http://bible-in-every-language.local/headless/");
export async function getStaticPaths() {
  if (import.meta.env.DEV) {
    // set to true to regenerate a local fs based cache of these pages to dev against / preview faster instead of fetchign each. Alteratively, just use the server rendered route.
    const forceRefresh = false;
    const pages = getDevCachedPages(forceRefresh);
    if (pages) return pages;
  }

  try {
    const {pagesByLangCode} = await getAllPages();
    const menus = await getMenus();
    // Due to fetching constraints, we can still the contact sections for all langs that are translated.
    const contactGlobal = await getGlobal("contact", "en");
    const contactGlobalAll = contactGlobal?.allLangsGlobal;
    const ctaGlobal = await getGlobal("cta-interior", "en");
    const ctaGlobalAll = ctaGlobal?.allLangsGlobal;
    const nonHiddenLanguages = new Set(Object.keys(menus));
    const wpmlLangDict = await getWpmlLanguages();

    // each key is a lang.  If it's not hidden, keep it, if not, toss the whole object;
    const nonHiddenPages = getNonHiddenPages({
      nonHiddenLanguages,
      pagesByLangCode,
    });
    const {en, ...otherLanguages} = nonHiddenPages;
    if (!en) return []; //early bail to satisfy typescirpt. Should always have english;
    const promises = Object.keys(en).map(async (enPageId) => {
      const enPage = en[enPageId]!;
      const enSrcResponse = await fetch(enPage.link.replace("https", "http"));
      const pageRendered = await enSrcResponse.text();
      const dom = new DOMParser().parseFromString(pageRendered, "text/html");
      enPage.inlineStyles = collectInlineStyles({
        dom,
        additionalStyles: [
          contactGlobal?.inlineStyles,
          ctaGlobal?.inlineStyles,
        ],
      });
      return {pageId: enPageId, page: enPage};
    });
    const englishPagesArr = await Promise.all(promises);

    const englishPagesDict = englishPagesArr.reduce(
      (acc: Record<string, Omit<WpPage, "translations">>, current) => {
        const {pageId, page} = current;
        acc[pageId] = page;
        return acc;
      },
      {}
    );

    const otherLanguagesPagesList = getOtherLanguagesPagesList({
      otherLanguages,
      englishPagesDict,
    });

    const allPagesToPublish = [
      // Skeip the english home page
      ...englishPagesArr.filter((p) => p.page.uri !== "/"),
      ...otherLanguagesPagesList,
    ];

    const pagesData: any = allPagesToPublish.map((pageTuple) => {
      const {page} = pageTuple;

      const curLang = page.languageCode;
      const headerMenu =
        menus[curLang]?.["header-menu"] || menus.en?.["header-menu"]!;
      let contactSection = addOptionalSectionsToCmsPages({
        targetLang: curLang,
        sectionToAdd: contactGlobalAll,
      });
      let ctaSection = addOptionalSectionsToCmsPages({
        targetLang: curLang,
        sectionToAdd: ctaGlobalAll,
      });
      const langInfo = wpmlLangDict[curLang];

      const langSwitcherList = Object.values(wpmlLangDict)
        .filter((lang) => {
          return nonHiddenLanguages.has(lang.code);
        })
        .map((lang) => {
          // Don't mutate the original dict item
          const copy = {...lang};
          // Mutate the langMenu while in this loop. For each of these languages, find the equivalent given its lang code
          const matchingVersionId = page.otherVersions?.[copy.code] || "";
          if (matchingVersionId) {
            const matchingVersionPage = allPagesToPublish.find(
              ({page}) => String(page?.databaseId) == matchingVersionId
            );
            if (matchingVersionPage) {
              if (
                matchingVersionPage?.page?.uri == "/" &&
                matchingVersionPage?.page?.languageCode == "en"
              ) {
                copy.localizedUrl = "/";
              } else {
                copy.localizedUrl = matchingVersionPage?.page?.uri;
              }
            }
          }
          return copy;
        });
      console.log(`Generating slug of ${page.uri}`);
      let payload = {
        params: {
          slug: page.uri,
        },
        props: {
          page,
          headerMenu,
          langInfo,
          contactSection,
          ctaSection,
          langSwitcherList,
          inlineStyles: page.inlineStyles,
        },
      };

      if (import.meta.env.DEV) {
        cachePageForDevSpeed(
          payload,
          `./src/dev/pages/${page.databaseId}.json`
        );
      }
      return payload;
    });

    return pagesData;
  } catch (error) {
    console.error(error);
    return [];
  }
}
const {
  page,
  headerMenu,
  langInfo,
  langSwitcherList,
  inlineStyles,
  contactSection,
  ctaSection,
} = Astro.props;
// Generate something for seo, even if not great
const description = page.editorBlocks
  .filter((b) => b.parentClientId == null)
  .map((block) => {
    return block.renderedHtml;
  })
  .join(" ")
  .slice(0, 100);
---

<Layout
  title={page.title}
  inlineCss={inlineStyles}
  langInfo={langInfo}
  langSwitcher={langSwitcherList}
  description={description}
>
  <div class="header">
    <HeaderMenu
      allLangs={langSwitcherList}
      currentLang={langInfo}
      menu={headerMenu}
      client:load
    />
  </div>
  <main class={`${!page.isHomePage && "interior-page"} `}>
    {
      !page.isHomePage && page.pageOptions?.topBlurb && (
        <div class="pbs-40 pbe-40 bg-brand-darkest bg-gradient-to-b from-[hsla(0,0%,0%,0.5)] to-[hsla(0,0%,0%,0)]">
          <div class="contain text-onSurface-invert px-4">
            <h1 class="font-bold font-size-[var(--step-3)] mb-6" style="">
              {page.title}
            </h1>
            <p class="max-w-60ch font-size-[var(--step-0)]">
              {page.pageOptions.topBlurb}
            </p>
          </div>
        </div>
      )
    }
    {
      !page.isHomePage && !page.pageOptions?.topBlurb && (
        <h1
          class="text-center text-6xl mb-12 bg-[rgba(0,0,0,0.7)] bg-blend-overlay text-white py-20 bg-no-repeat bg-cover"
          style="background-image: url('/images/page_bg.jpg')"
        >
          {page.title}
        </h1>
      )
    }

    {
      !page.isTranslationPage && (
        <div
          class={`headless-insertion wp-blocks ${
            !page.isHomePage && "site-container"
          }`}
        >
          {page.editorBlocks
            .filter((b) => b.parentClientId == null)
            .map((block) => {
              return <Blocks content={adjustCmsDomLinks(block.renderedHtml)} />;
            })}
          {blocksAreEmpty(page.editorBlocks) && (
            <h2 class="">{getDict(langInfo.code).notYetTranslated}</h2>
          )}
        </div>
      )
    }
    {
      page.isTranslationPage && (
        <TranslationsPageOld languageCode={langInfo.language_code} />
      )
    }
    {
      determineShowGlobal({page, global: ctaSection}) && (
        <div class="headless-insertion overflow-hidden">
          <Blocks content={adjustCmsDomLinks(ctaSection?.content!)} />
        </div>
      )
    }
    {
      determineShowGlobal({page, global: contactSection}) && (
        <div class="headless-insertion py-40">
          <Blocks content={adjustCmsDomLinks(contactSection?.content!)} />
        </div>
      )
    }
  </main>
</Layout>

<script></script>
