---
interface Props {
  editorBlocks: EditorBlock[];
  notTranslatedYet: boolean;
  dict: i18nDictType;
  languageCode: string;
}
const {editorBlocks, notTranslatedYet, dict, languageCode} = Astro.props;
import {ContactForm} from "@components/ContactForm";
import type {EditorBlock} from "@customTypes/types";
import type {i18nDictType} from "@src/i18n/strings";
import {adjustCmsDomLinks} from "@src/utils";
import Blocks from "./Blocks.astro";
// const redirectUrl = Astro.request.url;
---

<div class={`headless-insertion wp-blocks  site-container pb-0!`}>
  <div
    data-js="contactCmsData"
    class="flex flex-col md:flex-row md:justify-center gap-30 items-center"
  >
    <div class="md:w-2/5">
      {
        editorBlocks
          .filter((b) => b.parentClientId == null)
          .map((block) => {
            return (
              <Blocks
                content={adjustCmsDomLinks({stringToParse: block.renderedHtml})}
              />
            );
          })
      }
      {notTranslatedYet && <h2 class="">{dict.notYetTranslated}</h2>}
    </div>

    <div class="w-full md:max-w-50ch">
      <ContactForm dict={dict} languageCode={languageCode} client:load />
    </div>
  </div>
</div>
