---
import "../styles/wordpress.scss";
import "../styles/global.scss";
import "../styles/vars.scss";
import Blocks from "@components/Blocks.astro";
import type {languageType} from "@customTypes/types";
import {getEnglishUriMap, getFooter} from "@src/data/wp";
interface Props {
  title: string;
  langInfo: languageType;
  langSwitcher: languageType[];
  inlineCss: string[];
  isContactPage: boolean;
  langDirection: "ltr" | "rtl";
}
import {ViewTransitions} from "astro:transitions";
import {adjustCmsDomLinks} from "@src/utils";
const gqlUrl =
  import.meta.env.WORDPRESS_GQL_URL ||
  Astro.locals.runtime.env?.WORDPRESS_GQL_URL;
const {title, inlineCss, langInfo, langSwitcher, isContactPage, langDirection} =
  Astro.props;
// const forceRefresh = false;
const footerData = await getFooter({langCode: langInfo.code, gqlUrl});
const {footerInlineStyles, footer} = footerData
  ? footerData
  : {footerInlineStyles: "", footer: {content: ""}};
// const {footerInlineStyles, footer} = await
const allStyles = [...inlineCss, ...footerInlineStyles];
const deduped = new Set(allStyles);
const dedupedInlineStyles = [...deduped].join("\n");
const {englishUriMap} = await getEnglishUriMap({gqlUrl});
---

<html lang="en" lang={langInfo.code} dir={langDirection}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- https://bible-in-every-language.local/wp-content/themes/generatepress/assets/css/main.min.css -->
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <title>{title}</title>
    {inlineCss && <style id="headlessStyles" set:html={dedupedInlineStyles} />}
    {
      langSwitcher.map((version) => {
        return (
          <link
            rel="alternate"
            href={
              version.localizedUrl ||
              `${version.code == "en" ? "/" : `/${version.code}`}`
            }
            hreflang={version.code}
          />
        );
      })
    }
    <!-- {import.meta.env.PROD && <ViewTransitions />} -->
    {
      isContactPage && (
        <script
          src="https://challenges.cloudflare.com/turnstile/v0/api.js"
          async
          defer
          is:inline
        />
      )
    }
  </head>
  <body class="bg-surface-primary">
    <slot />
    <footer class="wp-blocks site-footer">
      <Blocks
        content={adjustCmsDomLinks({
          stringToParse: footer.content,
          englishUriMap,
          currentLangCode: langInfo.code,
        })}
      />
    </footer>
  </body>
</html>
