---
import "../styles/wordpress.scss";
import "../styles/global.scss";
import {getFooter} from "@src/api/gql";
import type {languageType} from "@customTypes/types";
import Blocks from "@components/Blocks.astro";

interface Props {
  title: string;
  langInfo: languageType;
  langSwitcher: languageType[];
  inlineCss: string[];
  description: string;
}
import {ViewTransitions} from "astro:transitions";
import {adjustCmsDomLinks} from "@src/utils";
import {cacheFooterForDev, getCachedFooter} from "@lib/caching";

const {title, inlineCss, langInfo, langSwitcher, description} = Astro.props;
const forceRefresh = false;
let cachedFooter =
  import.meta.env.DEV && getCachedFooter(forceRefresh)
    ? getCachedFooter()
    : null;
const footerData = cachedFooter ? cachedFooter : await getFooter(langInfo.code);
import.meta.env.DEV && cacheFooterForDev(footerData);
let {footerInlineStyles, footer} = footerData
  ? footerData
  : {footerInlineStyles: "", footer: {content: ""}};
// const {footerInlineStyles, footer} = await
let allStyles = [...inlineCss, ...footerInlineStyles];
let deduped = new Set(allStyles);
const dedupedInlineStyles = [...deduped].join("\n");

//todo: link to BASE_URL FOR BASE CSS OF GEN PRESS ? maybe
// todo: self host noto sans or lato font
---

<html lang={langInfo.code}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {inlineCss && <style id="headlessStyles" set:html={dedupedInlineStyles} />}
    {
      langSwitcher.map((version) => {
        return (
          <link
            rel="alternate"
            href={
              version.localizedUrl ||
              `${version.code == "en" ? "/" : `/${version.code}`}`
            }
            hreflang={version.code}
          />
        );
      })
    }
    <ViewTransitions />
  </head>
  <body>
    <div class="site">
      <slot />
      <footer class="wp-blocks site-footer">
        <Blocks content={adjustCmsDomLinks(footer.content)} />
      </footer>
    </div>
  </body>
</html>
